@namespace AntBlazor
@inherits AntButtonBase

<CascadingValue Value="this">
    <button class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id" @onclick="OnClick">
        @if (Loading)
        {
            <AntIcon type="loading"></AntIcon>
        }
        @if (!string.IsNullOrEmpty(Icon))
        {
            <AntIcon type="@Icon" Style="@iconStyle"></AntIcon>
        }

        @ChildContent
    </button>
</CascadingValue>
